extends ../layout.pug
block title
    title=mainTitle
block styles
    link(href='/faucet/styles/faucet.css' rel="stylesheet")
block content
    form.mainForm(action="/faucet/getNos" method="post")
        if success
            div.alert.success
                div.alertText=alert
        else if alert
            div.alert
                div.alertText=alert
        div.mainTitle=mainTitle
        input#id-input-address.fontLittle.address(name='address', value=address, placeholder=inputPlaceholder)
        div.captcha
            input.fontLittle.captchaInput(name='captcha')
            span.captchaImg !{svg}
        button.fontNormal.submit(type='submit')=buttonLabel
block scripts
    script(src='/faucet/scripts/faucet.js')
    